 /*header-img*/
 .header {
     display: flex;
     align-items: center;
     justify-self: center;
 }

 /*header-search*/
 .search {
     background-color: antiquewhite;
     border: 0px;
     border-radius: 20px;
     /* 원하는 둥글기 정도 */
 }

 #search_button {
     background: none;
     border: none;
 }

 /*header-ul*/
 .header ul {
     /* display: inline-block; */
     display: flex;
     /*가로(flex)로 나란히 배치*/
     list-style-type: none;
     color: rgb(160, 160, 160);
 }

 .header li {
     margin-right: 4px;
 }

 .header a {
     text-decoration: none;
     color: rgb(160, 160, 160);
 }

 /*hr*/
 #mhr {
     width: 100%;
     margin: 0;
     border-top: 1px solid black;
 }

 #headhr {
     margin: 0px;
 }

 ul.nav {
     display: flex;
     justify-content: center;
     font-size: 20px;
 }

 li.nav-item {
     margin-right: 60px;
 }

 .nav-item a {
     color: black;
     font-weight: bold;
 }

 @media (max-width: 767px) {

     /*모바일폰*/
     #logo {
         height: 60px;
         margin-top: 25px;
         margin-bottom: 5px;
     }

     /*header-search*/
     .search {
         width: 180px;
         height: 35px;
         text-indent: 10px;
         margin-top: 30px;
        margin-left: -20px;
     }

     #search_button img {
         width: 17px;
         margin-left: -60px;
     }

     /*header-ul*/
     .header ul {
         /* display: inline-block; */
         margin-left: -30px;
         margin-top: 45px;
         font-size: 12px;
     }

     .header li {
         margin-right: 8px;
     }


     .slider {
         height: 500px;
     }

     ul.nav {
         font-size: 13px;
     }

     li.nav-item {
         margin-right: 50px;
     }
 }

 @media (min-width: 768px) {
     /*태블릿*/

     #logo {
         height: 60px;
         margin-left: 180px;
         margin-top: 25px;
         margin-bottom: 5px;
     }

     /*header-search*/
     .search {
         width: 220px;
         height: 35px;
         text-indent: 20px;
         margin-top: 30px;
     }


     #search_button img {
         width: 20px;
     }

     /*header-ul*/
     .header ul {
         /* display: inline-block; */
         margin-left: 5px;
         margin-top: 45px;
         font-size: 12px;
     }

     .header li {
         margin-right: 10px;
     }


     .slider {
         height: 500px;
     }

     ul.nav {
         font-size: 14px;
     }
 }

 @media (min-width: 992px) {

     /*데스크탑(노트북)*/
     #logo {
         height: 80px;
         margin-left: 220px;
         margin-top: 10px;
         margin-bottom: 5px;
     }

     /*header-search*/
     .search {
         width: 270px;
         height: 40px;
         margin-left: 1px;
         text-indent: 20px;
         margin-top: 30px;
     }



     #search_button img {
         width: 20px;
     }

     /*header-ul*/
     .header ul {

         margin-left: 5px;
         margin-top: 45px;
         font-size: 12px;

     }

     .header li {
         margin-right: 15px;
     }



     .slider {
         height: 200px;
     }
 }


 @media (min-width: 1200px) {

     /* 데스크탑 */
     #logo {
         height: 100px;
         margin-left: 280px;
         margin-top: 10px;
         margin-bottom: 5px;
     }

     /*header-search*/
     .search {
         width: 310px;
     }

 }

 li{
    list-style-type: none;
  }
  
  /* 보여줄 구간의 높이와 넓이 설정 */
  #slideShow{
    width: 500px;
    height: 300px;
    position: relative;
    margin: 50px auto;
    overflow: hidden;   
    /*리스트 형식으로 이미지를 일렬로 
    정렬할 것이기 때문에, 500px 밖으로 튀어 나간 이미지들은
    hidden으로 숨겨줘야됨*/
  }
  
  
  .slides{
    position: absolute;
    left: 0;
    top: 0;
    width: 2500px; /* 슬라이드할 사진과 마진 총 넓이 */
    transition: left 0.5s ease-out; 
    /*ease-out: 처음에는 느렸다가 점점 빨라짐*/
  }
  
  /* 첫 번째 슬라이드 가운데에 정렬하기위해
  첫번째 슬라이드만 margin-left조정 */
  .slides li:first-child{
    margin-left: 100px;
  }
  
  /* 슬라이드들 옆으로 정렬 */
  .slides li:not(:last-child){
    float: left;
    margin-right: 100px;
  }
  
  .slides li{
    float: left;
  }
  
  .controller span{
    position:absolute;
    background-color: transparent;
    color: black;
    text-align: center;
    border-radius: 50%;
    padding: 10px 20px;
    top: 50%;
    font-size: 1.3em;
    cursor: pointer;
  }
  
  /* 이전, 다음 화살표에 마우스 커서가 올라가 있을때 */
  .controller span:hover{
    background-color: rgba(128, 128, 128, 0.11);
  }
  
  .prev{
    left: 10px;
  }
  
  /* 이전 화살표에 마우스 커서가 올라가 있을때 
  이전 화살표가 살짝 왼쪽으로 이동하는 효과*/
  .prev:hover{
    transform: translateX(-10px);
  }
  
  .next{
    right: 10px;
  }
  
  /* 다음 화살표에 마우스 커서가 올라가 있을때 
  이전 화살표가 살짝 오른쪽으로 이동하는 효과*/
  .next:hover{
    transform: translateX(10px);
  }